<!DOCTYPE html>
<html data-csrf-token="<%= csrf_token %>">
  <head>
    <title>slackerduty</title>
    <%= favicon %>
    <%= stylesheet 'main' %>
    <%= javascript 'main' %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
